# SignerOS test image: the same kernel source, the same kernel configuration and
# the same rootfs.cpio as signeros.img, linked into a second unified kernel image
# whose only difference is CONFIG_CMDLINE - a serial console and
# signeros.selftest=1, from board/signeros/cmdline-selftest. See the
# signeros-test-image target in external.mk for why that has to be a second
# kernel build rather than a second boot entry.
#
# The data partition label is PSBT_SPARE so that the fixture stick created by
# scripts/test_in_qemu.sh is the only PSBT_DATA volume in the VM.

image efi-part-test.vfat {
	vfat {
		label = "SIGNEROS"
		extraargs = "-F 32 -i 51634E46"
		file EFI { image = "efi-part-test/EFI" }
	}
	size = 256M
}

image data-part-test.vfat {
	vfat {
		label = "PSBT_SPARE"
		extraargs = "-F 32 -i 50534253"
		# Same reason as in genimage.cfg: a vfat image needs at least one file.
		file README.txt { image = "data-readme.txt" }
	}
	size = 64M
}

image signeros-test.img {
	hdimage {
		partition-table-type = "gpt"
		disk-uuid = "5163ae70-5f11-4e05-9e05-0000000000f1"
	}

	partition boot {
		image = "efi-part-test.vfat"
		partition-type-uuid = "U"
		partition-uuid = "5163ae70-5f11-4e05-9e05-0000000000f2"
		offset = 1M
		bootable = true
	}

	partition data {
		image = "data-part-test.vfat"
		partition-type-uuid = "ebd0a0a2-b9e5-4433-87c0-68b6b72699c7"
		partition-uuid = "5163ae70-5f11-4e05-9e05-0000000000f3"
		offset = 257M
	}
}
